<div class="login-form">
  <mat-card class="form-card">
    <mat-card-content>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Login">
          <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmitLogin()">
            <table>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="email">
                    <mat-error *ngFor="let validation of loginValidationMessages.email">
                      <mat-error class="error-message" *ngIf="loginFormGroup.get('email').hasError(validation.type)
                      && (loginFormGroup.get('email').dirty
                      || loginFormGroup.get('email').touched)">
                        {{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Password" type="password" formControlName="password">
                    <mat-error *ngFor="let validation of loginValidationMessages.password">
                      <mat-error class="error-message" *ngIf="loginFormGroup.get('password').hasError(validation.type)
                      && (loginFormGroup.get('password').dirty
                      || loginFormGroup.get('password').touched)">
                        {{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <span *ngIf="loginFailed" style="color: red">Invalid Username or Password</span>
                </td>
              </tr>
              <tr>
                <td>
                  <button mat-button type="submit">Submit</button>
                </td>
                <td>
                  <button mat-button type="reset">Reset</button>
                </td>
              </tr>
            </table>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmitRegister()">
            <table>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="First Name" formControlName="registerFirstName">
                    <mat-error *ngFor="let validation of registerValidationMessages.firstName">
                      <mat-error class="error-message" *ngIf="registerFormGroup.get('registerFirstName').hasError(validation.type)
                      && (registerFormGroup.get('registerFirstName').dirty
                      || registerFormGroup.get('registerFirstName').touched)">
                        {{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Last Name" formControlName="registerLastName">
                    <mat-error *ngFor="let validation of registerValidationMessages.lastName">
                      <mat-error class="error-message" *ngIf="registerFormGroup.get('registerLastName').hasError(validation.type)
                      && (registerFormGroup.get('registerLastName').dirty
                      || registerFormGroup.get('registerLastName').touched)">
                        {{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Email" formControlName="registerEmail">
                    <mat-error *ngFor="let validation of registerValidationMessages.email">
                      <mat-error class="error-message" *ngIf="registerFormGroup.get('registerEmail').hasError(validation.type)
                      && (registerFormGroup.get('registerEmail').dirty
                      || registerFormGroup.get('registerEmail').touched)">
                        {{validation.message}}
                      </mat-error>
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
               <td>
                 <div formGroupName="registerPasswordGroup">
                   <mat-form-field>
                     <input matInput placeholder="Password" type="password" formControlName="registerPassword">
                     <mat-error *ngFor="let validation of registerValidationMessages.password">
                       <mat-error class="error-message" *ngIf="registerFormGroup.get('registerPasswordGroup').get('registerPassword').hasError(validation.type)
                      && (registerFormGroup.get('registerPasswordGroup').get('registerPassword').dirty
                      || registerFormGroup.get('registerPasswordGroup').get('registerPassword').touched)">
                         {{validation.message}}
                       </mat-error>
                     </mat-error>
                   </mat-form-field>
                   <mat-form-field>
                     <input matInput placeholder="Confirm Password" type="password" formControlName="registerPasswordConfirm">
                     <mat-error *ngFor="let validation of registerValidationMessages.passwordConfirm">
                       <mat-error class="error-message" *ngIf="registerFormGroup.get('registerPasswordGroup').get('registerPasswordConfirm').hasError(validation.type)
                      && (registerFormGroup.get('registerPasswordGroup').get('registerPasswordConfirm').dirty
                      || registerFormGroup.get('registerPasswordGroup').get('registerPasswordConfirm').touched)">
                         {{validation.message}}
                       </mat-error>
                     </mat-error>
                   </mat-form-field>
                 </div>
                 <mat-error *ngFor="let validation of registerValidationMessages.passwordConfirm">
                   <mat-error class="error-message" *ngIf="registerFormGroup.get('registerPasswordGroup').hasError(validation.type)
                      && (registerFormGroup.get('registerPasswordGroup').get('registerPasswordConfirm').dirty
                      || registerFormGroup.get('registerPasswordGroup').get('registerPasswordConfirm').touched)">
                     {{validation.message}}
                   </mat-error>
                 </mat-error>
               </td>
              <tr>
                <td>
                  <button mat-button type="submit">Submit</button>
                </td>
                <td>
                  <button mat-button type="reset">Reset</button>
                </td>
              </tr>
            </table>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
