.archive-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 100px;
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    display: block;
  }
}

div {
  flex: 1;
}

mat-list {
  height: 100%;
  overflow: auto;

  mat-list-item {
    height: auto;
    width: 100%;
    margin: 8px;
  }
}


mat-card {
  width: 100%;
  height: auto;
  img {
    background-size: cover;
    max-width: 250px;
  }
}
