<div class="archive-content">
  <div>
    <button mat-raised-button color="warn" (click)="deleteAccount()">DELETE ACCOUNT</button>
  </div>
  <div>
    <h3>Archived Messages</h3>
    <mat-list>
      <mat-list-item *ngFor="let message of archivedMessages">
        <mat-card>
          <mat-card-title>
            {{message.title}}
          </mat-card-title>
          <img mat-card-image src="{{message.imageContentType}},{{message.imageContent}}">
          <mat-card-content>
            {{message.content}}<br><br>
            <strong>Categories</strong>
            {{message.categories}}
          </mat-card-content>
          <mat-card-footer>
            Start Time : {{message.startTime}}<br>
            End Time : {{message.endTime}}
          </mat-card-footer>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>
  <div>
    <h3>Archived Users</h3>
    <mat-list>
      <mat-list-item *ngFor="let user of archivedUsers">
        {{user.email}}
      </mat-list-item>
    </mat-list>
  </div>
</div>
