<div class="background">
  <div class="gradient">
    <div class="container">
      <h2 *ngIf="user">Welcome {{user.name}}</h2><br>
      <h1 class="mat-display-1"><strong>Some kind of News App</strong></h1>
      <div class="get-started">
        <h2 class="mat-h2" [ngClass]="routeAnimationsElements">Get started</h2>
        <div class="code-container" [ngClass]="routeAnimationsElements">
          <code [ngClass]="routeAnimationsElements">Register as a Publisher</code><br>
          <code [ngClass]="routeAnimationsElements">Confirm your email</code><br>
          <code [ngClass]="routeAnimationsElements">Search for the latest news in your area</code><br>
          <code [ngClass]="routeAnimationsElements">Report news by creating news worthy articles</code><br>
          <code [ngClass]="routeAnimationsElements">Rinse and repeat</code>
        </div>
      </div> <!-- get-started div close -->
    </div> <!-- container div close -->
  </div> <!-- gradient div close -->
</div> <!-- background div close -->
<div class="container">
  <div class="follow-releases" [ngClass]="routeAnimationsElements">
    <h2>What to expect as a Publisher</h2>
    <p>
      Publishers are in charge of reporting news stories near their general location. It is your job to created detailed
      descriptions of news worthy events, provide meaningful pictures, and select appropriate categories for these news
      events.<br><br>
      These articles will be presented to readers that are in the area and that are interested in the categories of the news
      articles.
    </p>
  </div>
</div> <!-- container div close -->
