h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.background {
  padding: 80px 0 0 0;
  position: relative;

  .get-started {
    width: auto;
    max-width: 700px;
    margin: 50px auto;
    letter-spacing: 0.01px;
    overflow-wrap: break-word;
    z-index: 1;
    overflow: hidden;

    code {
      font-size: 1em;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      margin: 0 0 10px 0;
      color: black;
      padding: 0 8px 1px;
      border-radius: 10px;
      background: #81d4fa;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url('../../../assets/map-background.png') no-repeat center top;
    background-size: cover;
    opacity: 0.7;
    content: '';
    z-index: 0;
  }

  .gradient {
    &::before {
      position: absolute;
      top: 51%;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(to bottom,rgba(250, 250, 250, 0) 0, #fafafa 100%);
      content: '';
      z-index: 0;
    }

  }

  .container {
    position: relative;
  }
}
