<div class="map-feed-container">
  <div class="map-container">
    <mat-card >
      <form (ngSubmit)="onSearch()" [formGroup]="addressFormGroup">
        <input matInput formControlName="address" placeholder="Enter an address">
        <button type="submit" mat-button>Search</button>
      </form>
    </mat-card>
    <div class="map-container">
      <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        (mapClick)="mapClick($event)">
        <agm-marker
          *ngFor="let m of markers; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"></agm-marker>
        <agm-marker
          [latitude]="currentMarker.lat"
          [longitude]="currentMarker.lng"
          [label]="currentMarker.label"
          [markerDraggable]="currentMarker.draggable"
          (dragEnd)="markerDragEnd(m, $event)"></agm-marker>
      </agm-map>
    </div>
  </div>
    <mat-tab-group class="mat-feed-container" [selectedIndex]="selectedTab">
      <mat-tab label="Feed" (click)="tab1()">
        <div class="filter-container">
          <h2 style="margin-top: 16px">Filter messages</h2>
          <div class="search-container">
            <mat-select style="max-width: 250px" placeholder="Categories" multiple (selectionChange)="filterCatsEvent($event)">
              <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
            </mat-select>
            <form style="display: flex" [formGroup]="dateFilterFormGroup">
              <input matInput [matDatepicker]="filterStartDate" placeholder="Start Date" formControlName="filterStartDate">
              <mat-datepicker-toggle matSuffix [for]="filterStartDate"></mat-datepicker-toggle>
              <mat-datepicker #filterStartDate></mat-datepicker>
              <input matInput [matDatepicker]="filterEndDate" placeholder="End Date" formControlName="filterEndDate">
              <mat-datepicker-toggle matSuffix [for]="filterEndDate"></mat-datepicker-toggle>
              <mat-datepicker #filterEndDate></mat-datepicker>
            </form>
          </div>
        </div>
        <mat-list>
          <mat-list-item *ngFor="let message of filteredMessages; let i = index">
            <mat-card (click)="focusMarker(i)">
              <mat-card-title>
                {{message.title}}
              </mat-card-title>
              <img mat-card-image src="{{message.imageContentType}},{{message.imageContent}}">
              <mat-card-content>
                {{message.content}}<br><br>
                <strong>Categories</strong>
                {{message.categories}}
              </mat-card-content>
              <mat-card-footer>
                Start Time : {{message.startTime}}<br> End Time : {{message.endTime}}
              </mat-card-footer>
            </mat-card>
          </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="Compose" (click)="tab2()">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form (ngSubmit)="onSubmit()" [formGroup]="messageFormGroup">
              <div class="form-container">
                <mat-form-field>
                  <input matInput placeholder="Title" formControlName="title">
                </mat-form-field>
                <mat-form-field>
                  <textarea matInput placeholder="Content" formControlName="content"></textarea>
                </mat-form-field>
                <div class="form-dates">
                  <mat-form-field>
                    <input matInput [matDatepicker]="startDate" placeholder="Start Date" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput [matDatepicker]="endDate" placeholder="End Date" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="form-bottom">
                  <mat-form-field>
                    <input matInput type="number" placeholder="Range" formControlName="range">
                  </mat-form-field>
                  <input class="file-input" type="file" (change)="fileChange($event)" formControlName="image" accept=".png, .jpg">
                  <mat-form-field>
                    <mat-select placeholder="Categories" formControlName="categories" multiple>
                      <div style="display: flex">
                        <form style="display: flex; width: 100%" [formGroup]="catFormGroup" (ngSubmit)="createCategory()">
                          <input matInput type="text" formControlName="catName" placeholder="Add a new Category"><button type="submit" mat-icon-button><mat-icon>add</mat-icon></button>
                        </form>
                      </div>
                      <mat-option *ngFor="let category of categories" [value]="category.name">{{category.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div style="display: flex; justify-content: space-around">
                  <button mat-button type="submit">Submit</button>
                  <button mat-button type="reset">Reset</button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
</div>
