mat-card {
  height: 100%;
  margin: 16px;
}

mat-tab {
  @media screen and (max-width: 1000px) {
      display: block;
  }
}

.form-container {
  display: flex;
  height:100%;
  flex-direction: column;

  .form-dates {
    display: flex;
    mat-form-field {
      width: 200px;
      margin: 8px;
    }
  }

  .form-bottom {
    display: flex;
    flex-wrap: wrap;

    .file-input {
      margin-left: 64px;
    }
  }
}

.map-feed-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 58px;
  @media screen and (max-width: 1000px) {
    flex-direction: column;
    display: block;
  }

  .map-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    @media screen and (max-width: 1000px) {
      height: 70vh;
    }

    mat-card {
      max-height: 64px;
      form {
        display: flex;
      }
    }

    .map-container {
      flex: 1;
      position: relative;
      height:100%;
      agm-map {
        height: 100%;
        margin-right: 16px;
      }
    }
  }

  mat-list {
    mat-card {
      width: 400px;
    }
  }

  mat-tab-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    .search-container {
      display: flex;
      justify-content: space-around;
    }

    mat-tab {
      mat-list {
        height: 100%;
        width: 100%;
        overflow: auto;
        mat-list-item {
          width: 100%;
          margin: 8px;
          mat-card {
            img {
              background-size: cover;
              max-width: 250px;
            }
            width: 100%;
            height: auto;
          }
        }
      }
    }

    mat-list-item {
      height: auto;
    }
  }
}

.filter-container {
  position: sticky;
  overflow: hidden;
  top: 0;
  z-index: 1;
  background-color: white;
}
