@import "~ng-pick-datetime/assets/style/picker.min.css";
.main-container {
  height: 100%;
  width: 100%;
}

.nofocus:focus {
  outline: none;
  border: 0;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;

  .toolbar {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 10;

    .nav-button {
      margin: 0 10px 0 0;
    }

    .title {
      cursor: pointer;
      overflow: hidden;
      padding-top: 4px;

      &.center {
        text-align: center;
      }
    }

    .spacer {
      flex: 1 1 auto;
    }
  }

  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .content {
      position: relative;
      flex: 1 0 auto;
      margin-top: 56px;
      overflow: hidden;

      app-compose {
        position: absolute;
        :host {
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }

  mat-sidenav {
    width: 250px;

    .title {
      height: 64px;
      padding: 8px 10px;
      font-size: 20px;
      font-weight: 500;

      span {
        position: relative;
        top: 3px;
      }
    }

    .mat-nav-list {
      padding-top: 0;
    }
  }
}

.content {
  flex: 1;
}

mat-sidenav-content {
  display: flex;
}
