  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <div class="title">
        <span>A News App</span>
      </div>
      <mat-nav-list>
        <a mat-list-item *ngFor="let item of navigation" (click)="sidenav.close()" [routerLink]="[item.link]"
           routerLinkActive="active">
          {{item.label}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="toolbar">
        <mat-toolbar color="primary">
          <button mat-icon-button class="d-md-none nofocus" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>

          <span routerLink="" class="title spacer center d-inline d-sm-none nofocus">News App</span>
          <span routerLink="" class="title spacer center d-none d-sm-inline d-md-none nofocus">A News App</span>
          <span routerLink="" class="title spacer d-none d-md-inline nofocus">A News App Or Something</span>
          <span class="d-none d-md-inline">
            <button mat-button class="nav-button nofocus" *ngFor="let item of navigation" [routerLink]="item.link"
                    routerLinkActive="active">
              {{item.label}}
            </button>
          </span>
          <button mat-button (click)="signOut()">Sign Out</button>

        </mat-toolbar>
      </div>
      <div class="content" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
        <router-outlet #o="outlet"></router-outlet>
      </div>
    </mat-sidenav-content>>
  </mat-sidenav-container>
